.DS_Store
.project
.idea
nbproject
.settings
node_modules
log/*
public/bower_components
config/runtime.json
newrelic_agent.log
test/results
test/test.js
dumps
tools/*.json
*.log

seeds/*
instance.json
